<fieldset>
    <legend>Information bloc lieu</legend>
    <div class="row">

        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Mini titre</label>
                {{ form_widget(form.miniTitre,{attr: {class: 'form-control' ~ ((form_errors(form.miniTitre)) ? ' is-invalid' : (form.vars.data.miniTitre ? ' is-valid' : '' )) }}) }}
                <div class="invalid-feedback">
                    {{form_errors(form.miniTitre)}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Nom lieu</label>
                {{ form_widget(form.lieu,{attr: {class: 'form-control' ~ ((form_errors(form.lieu)) ? ' is-invalid' : (form.vars.data.lieu ? ' is-valid' : '' )) }}) }}
                <div class="invalid-feedback">
                    {{form_errors(form.lieu)}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Adresse courte</label>
                {{ form_widget(form.miniadresse,{attr: {class: 'form-control' ~ ((form_errors(form.miniadresse)) ? ' is-invalid' : (form.vars.data.miniadresse ? ' is-valid' : '' )) }}) }}
                <div class="invalid-feedback">
                    {{form_errors(form.miniadresse)}}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <label class="form-label">Image</label>
                {{ form_widget(form.file,{attr: {class: ' dropify', 'data-height': '200', 'data-default-file': ((form.vars.value) ?  vich_uploader_asset(form.vars.value, 'file') : '')}}) }}
                {{ form_errors(form.file) }}
            </div>
        </div>
    </div>
</fieldset>
