{% extends 'base.html.twig' %}

{% block body %}
    <div class="row row-sm justify-content-center mt-5">
        <div class="col-xl-10">
            <div class="card custom-card overflow-hidden">
                <div class="card-header custom-card-header">
                    <h1>Detail Pack</h1>
                </div>
                <div class="card-body">
                    <fieldset>
                        <legend>Informations du pack</legend>
                        <table class="table table-bordered">
                            <tr>
                                <th class="text-center">Icone SVG</th>
                                <th class="text-center">Libellé</th>
                                <th class="text-center">Montant</th>
                            </tr>
                            <tr>
                                <td class="d-flex justify-content-center">{{ article.svg | raw }}</td>
                                <td>{{ article.label }}</td>
                                <td class="text-end">{{ article.montant | number_format(0, ',', ' ') }}</td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>Avantages</legend>
                        <table class="table table-bordered">
                            <tr>
                                <th class="text-center">Intitulé</th>
                                <th class="text-center">Valeur</th>
                            </tr>
                            <tr>
                                <td>Surface</td>
                                <td>{{ article.avantage['surface'] ?? '' }}</td>
                            </tr>
                            <tr>
                                <td>Aménagement</td>
                                <td>{{ article.avantage['amenagement'] ?? '' }}</td>
                            </tr>
                            <tr>
                                <td>Equipement</td>
                                <td>{{ article.avantage['equipements'] ?? '' }}</td>
                            </tr>
                            <tr>
                                <td>Service</td>
                                <td>{{ article.avantage['services'] ?? '' }}</td>
                            </tr>
                            <tr>
                                <td>Visibilité</td>
                                <td>{{ article.avantage['visibilite'] ?? '' }}</td>
                            </tr>
                            <tr>
                                <td>Bonus</td>
                                <td>{{ article.avantage['bonus'] ?? '' }}</td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div class="card-footer">
                    {{ include('exposant/pack_exposant/_delete_form.html.twig') }}
                    <a href="{{ path('app_exposant_pack_exposant_edit', {'id': article.id}) }}" class="btn btn-primary float-end me-2"> <i class="fas fa-edit"></i> Modifier</a>
                    <a href="{{ path('app_exposant_pack_exposant_index') }}" class="btn btn-primary float-end me-2"> <i class="fas fa-arrow-circle-left"></i> Retour</a>
                </div>
            </div>
        </div>
        <!--end col-->
        <!--end col-->
    </div>
{% endblock %}




