{% extends 'base.html.twig' %}

{% block body %}
    <div class="row row-sm justify-content-center mt-5">
        <div class="col-xl-10">
            <div class="card custom-card">
                <div class="card-header  p-3 tx-semibold tx-white bg-primary">
                    Détail clichés d'édition
                </div>
                <div class="card-body">
                    <fieldset>
                        <legend>Information édition</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered mb-0">

                                <thead>
                                <tr>
                                    <th class="text-center">Edition</th>
                                    <th class="text-center">Titre</th>
                                    <th class="text-center">Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">{{ page.edition }}</th>
                                    <th scope="row">{{ page.titre }}</th>
                                    <th scope="row">{{ page.description }}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Clichés</legend>
                        <ul id="lightgallery" class="list-unstyled row mb-0">
                            {% for imgs in page.cliches %}
                                <li class="col-xs-6 col-sm-4 col-md-4 col-xl-3 mb-4" data-responsive="{{ vich_uploader_asset(imgs, 'imageFile') }}" data-src="{{ vich_uploader_asset(imgs, 'imageFile') }}" data-sub-html="<h4>{{ imgs.legende }}</h4>">
                                    <a href="" class="wd-100p">
                                        <img class="img-responsive rounded-6" src="{{ vich_uploader_asset(imgs, 'imageFile') }}" height="200" alt="Thumb-1">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% if page.cliches is empty %}
                            <div class="row justify-content-center">
                                <div class="col-sm-6"><p class="text-center">Aucune Image</p></div>
                            </div>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="card-footer">
                    <form action="{{ path('app_galerie_detail_galerie_show', {'id': page.id}) }}" method="post">
                        {{ include('includes/_modal_delete.html.twig') }}
                        <a href="{{ path('app_galerie_detail_galerie_edit', {'id': page.id}) }}" class="btn btn-warning float-end me-2 "> <i class="bx bx-edit"></i> Modifier</a>
                        <a href="{{ path('app_galerie_detail_galerie_index') }}" class="btn btn-secondary float-end me-2"> <i class="bx bx-arrow-back"></i> Retour</a>
                        <input type="hidden" name="token" value="{{ csrf_token('delete-page') }}">
                    </form>
                </div>
            </div>
        </div>
        <!--end col-->
        <!--end col-->
    </div>
{% endblock %}



