{% extends 'base.html.twig' %}

{% block body %}
    <div class="row row-sm justify-content-center mt-5">
        <div class="col-xl-10">
            <div class="card custom-card overflow-hidden">
                <div class="card-header  p-3 tx-semibold tx-white bg-primary">
                    Détail section héritage
                </div>
                <div class="card-body">
                    <fieldset>
                        <legend>En tête</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered border-bottom">
                                <thead>
                                <tr>
                                    <th class="text-center">Badge</th>
                                    <th class="text-center">Titre Blanc</th>
                                    <th class="text-center">Sous titre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>{{ article.badge }}</th>
                                    <th>{{ article.titreBlanc }}</th>
                                    <th>{{ article.sousTitre }}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Bloc 1</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ vich_uploader_asset(article, 'card1ImageFile') }}" class="img-fluid"
                                     alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered border-bottom">
                                        <tbody>
                                            <tr>
                                                <td>Titre</td>
                                                <td>{{ article.card1titre }}</td>
                                            </tr>
                                            <tr>
                                                <td>Texte gris</td>
                                                <td>{{ article.card1descriptiongris }}</td>
                                            </tr>
                                            <tr>
                                                <td>Texte blanc</td>
                                                <td>{{ article.card1descriptionblanc }}</td>
                                            </tr>
                                            <tr>
                                                <td>Texte gris 2</td>
                                                <td>{{ article.card1descriptiongris2 }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Bloc 2</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered border-bottom">
                                <thead>
                                <tr>
                                    <th class="text-center">Stat</th>
                                    <th class="text-center">Texte</th>
                                    <th class="text-center">Texte rouge</th>
                                    <th class="text-center">Texte description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>{{ article.card2Nb }}</th>
                                    <th>{{ article.card2Label }}</th>
                                    <th>{{ article.card2LabelRouge }}</th>
                                    <th>{{ article.card2Description }}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Bloc 3</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ vich_uploader_asset(article, 'card3ImageFondFile') }}" class="img-fluid"
                                     alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered border-bottom">
                                        <tbody>
                                        <tr>
                                            <td>Titre mini</td>
                                            <td>{{ article.card3TitreMini }}</td>
                                        </tr>
                                        <tr>
                                            <td>Texte titre</td>
                                            <td>{{ article.card3Titre }}</td>
                                        </tr>
                                        <tr>
                                            <td>Texte description</td>
                                            <td>{{ article.card3Description | raw }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Bloc 4</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ vich_uploader_asset(article, 'card4ImageFile') }}" class="img-fluid"
                                     alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered border-bottom">
                                        <tbody>
                                        <tr>
                                            <td>Titre Or</td>
                                            <td>{{ article.card4TitreOr }}</td>
                                        </tr>
                                        <tr>
                                            <td>Texte blanc</td>
                                            <td>{{ article.card4TitreBlanc }}</td>
                                        </tr>
                                        <tr>
                                            <td>Texte gris</td>
                                            <td>{{ article.card4LabelGris }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Bloc 5</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered border-bottom">
                                <thead>
                                <tr>
                                    <th class="text-center">Stat</th>
                                    <th class="text-center">Texte</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>{{ article.card5Nb }}</th>
                                    <th>{{ article.card5label }}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div class="card-footer">
                    {{ include('gala/heritage/_delete_form.html.twig') }}
                    <a href="{{ path('app_gala_heritage_edit', {'id': article.id}) }}"
                       class="btn btn-primary float-end me-2"> <i class="fas fa-edit"></i> Modifier</a>
                    <a href="{{ path('app_gala_heritage_index') }}" class="btn btn-primary float-end me-2"> <i
                                class="fas fa-arrow-circle-left"></i> Retour</a>
                </div>
            </div>
        </div>
        <!--end col-->
        <!--end col-->
    </div>
{% endblock %}




