{#{% extends 'base.html.twig' %}#}

{#{% block title %}Article index{% endblock %}#}

{#{% block body %}#}
{#    <h1>Article index</h1>#}

{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Id</th>#}
{#                <th>Title</th>#}
{#                <th>Subtitle</th>#}
{#                <th>Date</th>#}
{#                <th>Description</th>#}
{#                <th>ImageName</th>#}
{#                <th>ImageSize</th>#}
{#                <th>actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for article in articles %}#}
{#            <tr>#}
{#                <td>{{ article.id }}</td>#}
{#                <td>{{ article.title }}</td>#}
{#                <td>{{ article.subtitle }}</td>#}
{#                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>{{ article.description }}</td>#}
{#                <td>{{ article.imageName }}</td>#}
{#                <td>{{ article.imageSize }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('app_admin_article_show', {'id': article.id}) }}">show</a>#}
{#                    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="8">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{#    <a href="{{ path('app_admin_article_new') }}">Create new</a>#}
{#{% endblock %}#}





{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="row row-sm justify-content-center mt-5">
        <div class="col-10">
            <div class="card custom-card">
                <div class="card-header  p-3 tx-semibold tx-white bg-primary">
                    Section Thématique
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
                            <thead>
                            <tr>
                                <th class="text-center">N°</th>
                                <th class="text-center">Titre noir</th>
                                <th class="text-center">Titre gris</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for index, a in articles %}
                                <tr>
                                    <th class="text-center">{{ index + 1 }}</th>
                                    <th>{{ a.titre1 }}</th>
                                    <th>{{ a.titre2 }}</th>
                                    <th class="text-center">
                                        <a href="{{ path('app_accueil_thematique_show', {'id' : a.id}) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                {% if (articles | length) == 0 %}
                    <div class="card-footer">
                        <a href="{{ path('app_accueil_thematique_new') }}" class="btn btn-primary float-end">Nouveau</a>
                    </div>
                {% endif %}
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

{% endblock %}

