{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="row row-sm justify-content-center mt-5">
        <div class="col-10">
            <div class="card custom-card">
                <div class="card-header  p-3 tx-semibold tx-white bg-primary">
                    Liste des candidatures
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
                            <thead>
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Categories</th>
                                <th class="text-center">Entreprise</th>
                                <th class="text-center">Statut</th>
                                <th class="text-center">Date création</th>
                                <th class="text-center">Représentant</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in candidatures %}
                                <tr>
                                    <th class="">{{ c.createdAt ? (c.createdAt | date("d-m-Y")) : "" }}</th>
                                    <th class="">{{ c.categories | map(c => c.label) | join(', ') }}</th>
                                    <th>{{ c.nomEntreprise }}</th>
                                    <th class="">{{ c.statutEntreprise }}</th>
                                    <th class="">{{ c.dateCreation ? (c.dateCreation | date("d-m-Y")) : "" }}</th>
                                    <th>{{ c.fullnameRepresentant }}</th>
                                    <th class="text-center">
                                        <a href="{{ path('app_admin_candidature_show', {'id' : c.id}) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                {#                <div class="card-footer">#}
                {#                    <a href="{{ path('app_admin_offre_new') }}" class="btn btn-primary float-end">Nouveau</a>#}
                {#                </div>#}
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

{% endblock %}

