{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="row row-sm justify-content-center mt-5">
        <div class="col-10">
            <div class="card custom-card">
                <div class="card-header  p-3 tx-semibold tx-white bg-primary">
                    Liste des packs
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-nowrap border-bottom" id="basic-datatable">
                            <thead>
                            <tr>
                                <th class="text-center">Type</th>
                                <th class="text-center">Libelle</th>
                                <th class="text-center">Tarif</th>
                                <th class="text-center">Populaire?</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for index, p in articles %}
                                <tr>
                                    <th class="">{{ p.code == 'SPONSOR' ? 'Sponsor' : 'Partenaire' }}</th>
                                    <th class="">{{ p.nom }}</th>
                                    <th class="">{{ p.tarif | number_format(0, ',', ' ') }}</th>
                                    <th class="text-center">{{ p.popu? "OUI" : "NON" }}</th>
                                    <th class="text-center">
                                        <a href="{{ path('app_sponsor_package_show', {'id' : p.id}) }}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="card-footer">
                    <a href="{{ path('app_sponsor_package_new') }}" class="btn btn-primary float-end">Nouveau</a>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

{% endblock %}

