{% extends 'base.html.twig' %}

{% block body %}
    <div class="row row-sm justify-content-center mt-5">
        <div class="col-xl-10">
            <div class="card custom-card overflow-hidden">
                <div class="px-4 pt-4">
                    <a ><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="img" class="rounded-6 w-100"></a>
                </div>
                <div class="card-body">
                    <h4>{{ article.raisonSocial }}</h4>
                    <br>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">Lien facebook</th>
                            <th class="text-center">Lien linkedin</th>
                            <th class="text-center">Site web</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ article.facebook }}</td>
                            <td>{{ article.linkedin }}</td>
                            <td>{{ article.siteWeb }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    {{ include('gala/entreprise/_delete_form.html.twig') }}
                    <a href="{{ path('app_gala_entreprise_edit', {'id': article.id}) }}" class="btn btn-primary float-end me-2"> <i class="fas fa-edit"></i> Modifier</a>
                    <a href="{{ path('app_gala_entreprise_index') }}" class="btn btn-primary float-end me-2"> <i class="fas fa-arrow-circle-left"></i> Retour</a>
                </div>
            </div>
        </div>
        <!--end col-->
        <!--end col-->
    </div>
{% endblock %}




