<h1>Bienvenue {{ user.lastName }} {{ user.firstName }}!</h1>
<p>Vous êtes inscrit en tant que {{ user.email }} sur gala des pme avec les identifiants suivants :</p>
<p> Email : <strong>{{ user.email }}</strong> <br>
    Mot de Passe : <strong>{{ plain_password }}</strong>
</p>
<p><strong>NB: N'hesitez pas à les modifier</strong></p>
<p class="text-center">© {{ 'now'|date('Y') }} Gala des pme Admin. Développé par Agence Moses Art</p>
